<%- include('../components/header')%>
<section class="py-5">
  <div class="container">
    <h1 class="text-capitalize text-center mb-4">all users</h1>
    <table class="w-100 text-capitalize">
      <thead>
        <tr class="bg-primary border border-1">
          <th class="p-2 text-light">name</th>
          <th class="p-2 text-light">is admin</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < allUsers.length; i++) { %>
          <tr class="border border-top-0">
            <td class="p-2 d-flex justify-content-between">
              <a href="#"><%= allUsers[i].firstName %> <%= allUsers[i].lastName %></a>
            </td>
            <td><%= allUsers[i].isAdmin %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
<%- include('../components/footer')%>
