<%- include('../components/header')%>
<section class="py-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-4">
        <img
          src="<%= profile.profileImg %>"
          alt="sorry it's problem showing this image"
          class="img-fluid rounded-circle border"
          id="profile-image"
        >
      </div>
      <div class="col-8">
        <h1 class="text-capitalize text-center"><%= profile.firstName %> <%= profile.lastName %></h1>
        <div class="text-center my-4">
          <!-- IS ADMIN -->
          <% if (profile.isAdmin == true) { %>
            <span class="bg-success py-1 px-3 text-capitalize text-light">admin</span>
          <% } else { %>
            <span class="bg-danger py-1 px-3 text-capitalize text-light">not admin</span>
          <% } %>
          <!-- IS MODERATOR -->
          <% if (profile.isModerator == true) { %>
            <span class="bg-success py-1 px-3 text-capitalize text-light">moderator</span>
          <% } else { %>
            <span class="bg-danger py-1 px-3 text-capitalize text-light">not moderator</span>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="btn btn-primary text-capitalize" href="/users/profile/<%= profile._id %>">public profile</a>
        <!-- CREATE MODERATOR -->
        <button type="button" class="btn btn-success text-capitalize" data-bs-toggle="modal" data-bs-target="#exampleModal">
          create moderator
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-capitalize" id="exampleModalLabel">new moderator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center text-capitalize">
                are you sure you want to make <%= profile.firstName %> <%= profile.lastName %> as a new moderator
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <form action="/admin/craete-moderator/<%= profile._id %>" method="post">
                  <button type="submit" class="btn btn-primary">Yes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../components/footer')%>
