<%- include('../components/header') %>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="profile-img-upload col-4">
        <div class="position-relative rounded-circle overflow-hidden">
          <img
            src="<%= profile.profileImg %>"
            alt="sorry it's problem showing this image"
            class="img-fluid"
            id="profile-image"
          >
          <% if (user && user._id == profile._id) { %>
            <div class="profile-form position-absolute d-flex justify-content-center align-items-center">
              <form action="/users/profile-img-upload" method="post" enctype="multipart/form-data">
                <div class="d-flex flex-column-reverse mt-2">
                  <div class="position-relative">
                    <input id="profile-img" name="image" type="file">
                    <label id="profile-label" class="material-icons img-upload-btn btn btn-light  px-3" for="profile-img">local_see</label>
                  </div>
                  <div id="profile-form-submition" class="d-none">
                    <button type="submit" class="btn btn-warning rounded-circle">
                      <span class="material-icons d-flex">done</span>
                    </button>
                    <a href="/users/profile/<%= profile.id %>" class="btn btn-danger rounded-circle">
                      <span class="material-icons d-flex">close</span>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          <% } %>
        </div>
      </div>
      <div class="col-8">
        <h1 class="text-center text-capitalize mb-4"><%= profile.firstName %> <%= profile.lastName %></h1>
        <div class="row">
          <!-- CHANGE USER NAME FORM -->
          <form id="user-name-form" class="shadow p-5 d-none" action="/users/edit-username" method="post">
            <h4 class="text-capitalize mb-4">change your name</h4>

            <div class="field d-flex flex-column-reverse mt-2">
              <input type="text" name="firstName" id="firstName" value=<%= profile.firstName %> class="w-100" required>
              <label for="firstName"first name</label>
            </div>

            <div class="field d-flex flex-column-reverse mt-2">
              <input type="text" name="lastName" id="lastName" value=<%= profile.lastName %> class="w-100" required>
              <label for="lastName">last name</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">submit</button>
          </form>
          <% changeUserNameError.forEach(function(message){ %>
            <div class="d-flex justify-content-center">
              <div class="alert alert-danger text-center mt-3 form-alert" role="alert">
                <%= message %>
              </div>
            </div>
          <% }); %>
          <% successMessage.forEach(function(message){ %>
            <div class="d-flex justify-content-center">
              <div class="alert alert-success text-center mt-3 form-alert" role="alert">
                <%= message %>
              </div>
            </div>
          <% }); %>
          <!-- CHANGE USER EMAIL FORM -->
          <form class="shadow p-5 d-none" id="change-email-form" action="/users/change-email" method="post">
            <h4 class="text-capitalize mb-4">change your email</h4>
            <div class="field d-flex flex-column-reverse mt-2">
              <input type="email" name="email" id="email" value=<%= profile.email %> class="w-100" required>
              <label for="email">new email</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">submit</button>
          </form>
          <% changeEmailError.forEach(function(message){ %>
            <div class="d-flex justify-content-center">
              <div class="alert alert-danger text-center mt-3 form-alert" role="alert">
                <%= message %>
              </div>
            </div>
          <% }); %>
          <!-- CHANGE USER PASSWORD FORM -->
          <form class="shadow p-5 d-none" id="change-password-form" action="/users/change-password" method="post">
            <h4 class="text-capitalize mb-4">change your passwrod</h4>
            <div class="field d-flex flex-column-reverse mt-2">
              <input type="password" name="currentPassword" id="old-password" required>
              <label for="old-password">old password</label>
            </div>
            <div class="field d-flex flex-column-reverse mt-2">
              <input type="password" name="newPassword" id="new-password" required>
              <label for="new-password">new password</label>
            </div>
            <div class="field d-flex flex-column-reverse mt-2">
              <input type="password" name="confirmNewPassword" id="confirm-password" required>
              <label for="confirm-password">confirm password</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">submit</button>
          </form>
          <% changePasswordError.forEach(function(message){ %>
            <div class="d-flex justify-content-center">
              <div class="alert alert-danger text-center mt-3 form-alert" role="alert">
                <%= message %>
              </div>
            </div>
          <% }); %>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <% if (user) { %>
            <% if (user._id != profile._id) { %>
              <% if (isFriend == true) { %>
                <form action="/users/remove/<%= profile._id %>" method="post">
                  <button type="submit" class="btn btn-primary me-3 d-inline-flex">
                    <span class="material-icons mx-2">person_remove</span> delete friend
                  </button>
                </form>
                <a href="#" class="btn btn-primary d-inline-flex">
                  <span class="material-icons mx-2">chat</span> chat
                </a>
              <% } else if (isHasRequested == true) { %>
                <form action="/users/cancel/<%= profile._id %>" method="post">
                  <button type="submit" name="button" class="btn btn-primary d-inline-flex">
                    <span class="material-icons mx-2">person_off</span> cancel request
                  </button>
                </form>
              <% } else if (isRequestSent == true) { %>
                <form action="/users/accept/<%= profile._id %>" method="post">
                  <button type="submit" class="btn btn-primary me-3 d-inline-flex">
                    <span class="material-icons me-1">done</span>confirm
                  </button>
                </form>
                <form action="/users/ignore/<%= profile._id %>" method="post">
                  <button type="submit" class="btn btn-primary d-inline-flex">
                    <span class="material-icons me-1">close</span>ignore
                  </button>
                </form>
              <% } else { %>
                <form action="/users/request/<%= profile._id %>" method="post">
                  <button type="submit" class="btn btn-primary d-inline-flex">
                    <span class="material-icons mx-2">person_add</span>add friend
                  </button>
                </form>
              <% } %>
            <% } %>
          <% } else { %>
            <a href="/users/login?next=/users/profile/<%= profile._id %>" class="btn btn-primary d-inline-flex">
              <span class="material-icons mx-2">person_add</span>add friend
            </a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Friends</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">User Info</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade py-3 show active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
        <div class="tab-pane fade py-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills <% if (user && user._id == profile._id) { %> w-25 <% } %> me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <% if (user && user._id == profile._id) { %>
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Friends</button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Friend Requests</button>
                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Requests Sent</button>
              <% } %>
            </div>
            <div class="tab-content w-100" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <% if (user && user._id == profile._id || profile.friendsPrivacy == 'public') { %>
                  <% for(var i=0; i<profile.friends.length; i++) {%>
                     <div class="row mb-3">
                       <div class="d-flex justify-content-between">
                         <a href="/users/profile/<%= profile.friends[i].id %>" class="d-flex align-items-center me-5">
                           <img
                             src="<%= profile.friends[i].image %>"
                             alt="oops! it's problem showing your photo"
                             style="max-width:50px"
                             class="rounded-circle mx-3"
                           >
                           <h5><%= profile.friends[i].firstName %> <%= profile.friends[i].lastName %></h5>
                         </a>
                         <% if (user && user._id == profile._id) { %>
                           <div class="buttons">
                             <a href="#" class="btn btn-primary">delete</a>
                             <a href="#" class="btn btn-primary">chat</a>
                           </div>
                         <% } %>
                       </div>
                     </div>
                     <hr>
                  <% } %>
                <% } else { %>
                  <h1>This user fiends is private</h1>
                <% } %>
              </div>
              <% if (user && user._id == profile._id) { %>
                <!-- FRIEND REQUESTS -->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <% for(var i=0; i<profile.friendRequests.length; i++) {%>
                     <div class="row mb-3">
                       <div class="d-flex justify-content-between">
                         <a href="/users/profile/<%= profile.friendRequests[i].id %>" class="d-flex align-items-center me-5">
                           <img
                             src="<%= profile.friendRequests[i].image %>"
                             alt="oops! it's problem showing your photo"
                             style="max-width:50px"
                             class="rounded-circle mx-3"
                           >
                           <h5><%= profile.friendRequests[i].firstName %> <%= profile.friendRequests[i].lastName %></h5>
                         </a>
                         <div class="buttons">
                           <a href="#" class="btn btn-primary">accept</a>
                           <a href="#" class="btn btn-primary">ignore</a>
                         </div>
                       </div>
                     </div>
                     <hr>
                  <% } %>
                </div>
                <!-- REQUESTS SENT -->
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                  <% for(var i=0; i<profile.sentRequests.length; i++) {%>
                     <div class="row mb-3">
                       <div class="d-flex justify-content-between">
                         <a href="/users/profile/<%= profile.sentRequests[i].id %>" class="d-flex align-items-center me-5">
                           <img
                             src="<%= profile.sentRequests[i].image %>"
                             alt="oops! it's problem showing your photo"
                             style="max-width:50px"
                             class="rounded-circle mx-3"
                           >
                           <h5><%= profile.sentRequests[i].firstName %> <%= profile.sentRequests[i].lastName %></h5>
                         </a>
                         <div class="buttons">
                           <a href="#" class="btn btn-primary">cancel request</a>
                         </div>
                       </div>
                     </div>
                     <hr>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade py-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row mb-3">
            <div id="user-name" class="d-flex justify-content-between">
              <h4 class="text-capitalize"><%= profile.firstName %> <%= profile.lastName %></h4>
              <% if (user && user._id == profile._id) { %>
                <span id="user-name-edit" class="material-icons fs-5 cursor-pointer d-none">edit</span>
              <% } %>
            </div>
          </div>
          <div class="row mb-3">
            <span><%= profile.gender %></span>
          </div>
          <div class="row mb-3">
            <% if (user && user._id == profile._id) { %>
              <span id="change-email-btn" class="btn btn-primary w-auto">change email</span>
            <% } %>
          </div>
          <div class="row mb-3">
            <% if (user && user._id == profile._id) { %>
              <span id="change-password-btn" class="btn btn-primary w-auto">change password</span>
            <% } %>
          </div>
          <div class="row">
            <!-- DELETE ACCOUNT -->
            <% if (user && user._id == profile._id) { %>
                <button type="button" class="btn btn-danger w-auto" data-bs-toggle="modal" data-bs-target="#delete-account">
                  delete my account
                </button>
                <div class="modal fade" id="delete-account" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-capitalize" id="exampleModalLabel">delete account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <h4 class="text-capitalize text-center">are you sure you want to delete your accoutn ?</h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <form action="/users/delete-account" method="post">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../components/footer') %>
<script src="/javascripts/profile.js"></script>
<script>
  // LIVE PREVIEW FOR PROFILE IMAGE CHANGE
  let profileInput = document.getElementById('profile-img');
  let profileLabel = document.getElementById('profile-label');
  let profileFormSubmition = document.getElementById('profile-form-submition');
  let profileForm = document.getElementById('profile-form');
  profileInput.onchange = function () {
    const reader = new FileReader();
    reader.readAsDataURL(this.files[0]);
    reader.onload = function () {
      document.getElementById('profile-image').src = this.result;
      profileLabel.classList.add('d-none');
      profileFormSubmition.classList.remove('d-none');
      profileForm.classList.add('active-form');
    }
  }
</script>
